.staffCards {
    display: flex;
    align-items: center;
    padding: 2rem 10rem;
    width: 100%;
  }
  
  .staffCard {
    padding: 1rem;
    margin: 0.5rem 0.75rem;
    border-radius: 25px;
  }
  
  .staffCardImage {
    object-fit: cover;
  }